/* CSS files add styling rules to your content :･ﾟ✧*/

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    text-rendering: OptimizeLegibility;
    scroll-behavior: smooth;
  }
  
  h1 {
    color: #000000;
  }
  
  .container {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    align-items: center;
    padding: 30px;
    margin-down: 30px;
  }
  
  .card {
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    display: flex;
    justify-content: top;
    align-items: left;
    position: relative;
    overflow: hidden;
  }
  
  .left {
    background-color: white;
  }
  
  .right {
    background-color: white;
  }
  
  .copy {
    font-weight: 700;
    line-height: 110%;
    font-size: 114px;
    text-align: left;
    letter-spacing: -3px;
  }
  
  .link {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    color: black;
    
  }
  
  .menu a {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 60px;
    max-width: 80%;
    margin-right: 10px;
  }
  
  a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  .menu {
    align-items: left;
    position: fixed;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    
    .copy {
    font-weight: 700;
    line-height: 110%;
    font-size: 40px;
    letter-spacing: -1.8px;
  }
    
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
    
    .copy {
    font-weight: 700;
    line-height: 110%;
    font-size: 52px;
    letter-spacing: -2.2px;
  }
    
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {
  
    .copy {
    font-weight: 700;
    line-height: 110%;
    font-size: 64px;
    letter-spacing: -2.6px;
  }
    
  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) {
    
    .copy {
    font-weight: 700;
    line-height: 110%;
    font-size: 78px;
    letter-spacing: -3px;
  }
    
  }
  
  /* X-Large devices (large desktops, less than 1400px) */
  @media (max-width: 1399.98px) {
    
    .copy {
    font-weight: 700;
    line-height: 116%;
    font-size: 41px;
    letter-spacing: -1.4px;
  }
    
    .menu a {
    padding: 6px 12px;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    border: 1.6px solid #000000;
    border-radius: 60px;
    max-width: 100%;
    margin-right: 6px;
  }
    
  }